<div class="registration_main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <header class="header_main">
      <%= link_to image_tag('MIRMlogo.png' , size: '100x100'), "/" %>
      <div class="login_btn">
        <%= link_to 'ログインはこちら', new_user_session_path, class: "btn btn-light text-dark " %>
      </div>
    </header>
  </nav>

  <div class="main_content">
    <div class="container">
    
      <div class="row">
        <div class="col bg-info">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Fluid jumbotron</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
        </div>                  
        <div class="col bg-primary">
        ソーシャルアカウント
        </div>
      </div>
      <div class="row">
        <p>新規登録</p>
        <div class="col bg-info">
        名前
        </div>
        <div class="col bg-primary">
        メールアドレス
        </div>
        <div class="col bg-primary">
        パスワード
        </div>
        <div class="col bg-primary">
        ロボットじゃ無いよ
        </div>
        利用規約
        <div class="registration_btn">
        登録する
        </div>
      </div>
    </div>
  </div>
</div>