<header>
  <div class="container">
    <div class="logo_png"><%= image_tag 'MIRM-title.png', :size =>'100x100' %>
    </div>
    <div class="title">MIRM
    </div>
    <div class="search">
    検索フォーム
    </div>
    <div class="header_nav">
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
        <li>ユーザー詳細ページボタン</li>
        <li>投稿ボタン</li>
      </ul>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col bg-info">
    <%# ナビゲーション「ジャンル別表示機能」 %>
      <ul>
        <li>ホーム</li>
        <li>楽器</li>
        <li>機材</li>
        <li>レコーディング</li>
        <li>ライブ</li>
        <li>宅録</li>
        <li>音楽基礎知識</li>
        <li>雑学</li>
        <li>作詞</li>
        <li>作曲</li>
      </ul>
    </div>
    <div class="col bg-primary">
      投稿一覧表示機能 
    </div>
    <div class="col bg-danger">
      サブメニュー一覧
    </div>
  </div>
</div>
