
.post_main {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.post_header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post_content {
  width: 100%;
  height: 100%;
}

.post_field {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post_form_image {
  
}

.post_form_title {
  width: 100%;
}

.form_text {
  width: 100%;
}